.midpart2{
    display: none;
}
.wpm{
    margin-left: 35%;
}
.finalwordstyped{
    display: block;
}
.finaltimetaken{
    margin-left: 1%;
    display: block;
}
.finalwpm{
    margin-left: 13%;
    display: block;
}
.forrestart2{
    margin-left: 45%;
}
